<div>
    <h1>Welcome to {{username}}'s profile!</h1>
</div>

<div>
    <h2>Top Scores</h2>
    <h3>North America</h3>
    {{!-- {{game.}} --}}
    <h3>South America</h3>
    {{!-- {{game.}} --}}
    <h3>Europe</h3>
    {{!-- {{game.}} --}}
    <h3>Africa</h3>
    {{!-- {{game.}} --}}
    <h3>Asia</h3>
    {{!-- {{game.}} --}}
    <h3>Australia and Oceania</h3>
    {{!-- {{game.}} --}}
</div>

<div>
    <h2>Recent Games</h2>
        <ul class="recents">
        {{!-- Write script to generate the last 5 scores --}}
        </ul>

</div>
<script src="/js/profile.js"></script>