<div>
    <h2>Top Scores</h2>
    <h3>North America</h3>
    {{{Top Score}}}
    <h3>South America</h3>
    {{{Top Score}}}
    <h3>Europe</h3>
    {{{Top Score}}}
    <h3>Africa</h3>
    {{{Top Score}}}
    <h3>Asia</h3>
    {{{Top Score}}}
    <h3>Australia and Oceania</h3>
    {{{Top Score}}}
</div>

<div>
    <h2>Recent Games</h2>
    
</div>